{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  "processors": ["stylelint-processor-styled-components"],
  "rules": {
    "declaration-empty-line-before": "never"
  }
}
